<%= render 'layouts/navigation' %>

<div class="brand"><%= t("home.shop") %></div>
<div class="address-bar">
	1266 Mont-Royal Ave E • Montreal, QC H2J 1Y4 • (514) 111-2222<br/>
	<%= t("home.mon-to-sat") %>: 10 am - 7 pm • <%= t("home.dim") %>: 10 am - 6 pm
</div>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="/images/macaron1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="/images/macaron2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="/images/macaron3.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small><%= t("home.give-in") %></small>
                </h2>
                <h1 class="brand-name"><%= t("home.sweet-temptation") %></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><%= t("home.best-macarons") %></h2>
                <hr>
                <hr class="visible-xs">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit nulla lacus, et consequat justo facilisis sit amet. In pharetra mauris vitae justo pulvinar vulputate. Donec rutrum velit sit amet augue porta, nec lobortis tortor pharetra. Integer dignissim, dolor sed aliquet mollis, lorem lectus faucibus erat, vel blandit elit est quis turpis. In ullamcorper magna ac lacinia finibus. Integer pretium nisl non dolor egestas blandit at vitae eros. Nam leo est, mattis nec tincidunt vel, fringilla luctus tellus. Sed scelerisque consequat consectetur. Donec vehicula gravida aliquam. Praesent aliquam orci eu eleifend lobortis. Aliquam at ultricies dolor. Cras egestas risus a feugiat blandit. Praesent est est, convallis molestie ligula at, suscipit pulvinar nunc. Quisque nibh lectus, molestie ac scelerisque ac, sollicitudin non leo. Morbi quis dui nisl.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 3000 //changes the speed
  })
});
</script>
