<%= render 'layouts/navigation' %>

<div class="brand"><%= t("home.shop") %></div>
<div class="address-bar">
	1266 Mont-Royal Ave E • Montreal, QC H2J 1Y4 • (514) 111-2222<br/>
	<%= t("home.mon-to-sat") %>: 10 am - 7 pm • <%= t("home.dim") %>: 10 am - 6 pm
</div>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-md-8">
                <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.0369701718473!2d-73.57980328444035!3d45.529461579101834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91bdb24e50ec9%3A0x477e06aa221fa033!2sPoint+G!5e0!3m2!1sen!2sca!4v1493092551275"></iframe>
            </div>
            <div class="col-md-4">
                <address>
				  <strong>Macaron Shop</strong><br>
				  1266 Mont-Royal Ave E<br>
				  Montreal, QC H2J 1Y4<br>
				</address>
				
				<address>
				  <strong><%= t("contact.hours") %></strong><br>
				  <%= t("home.mon-to-sat") %>: 10 am - 7 pm<br>
				  <%= t("home.sun") %>: 10 am - 6 pm<br>
				</address>
				
				<address>
				  <strong><%= t("contact.reservation") %></strong><br>
				  (514) 111-2222<br>
				</address>
				
				<address>
				  <strong>Email</strong><br>
				  <a href="mailto:name@example.com">name@example.com</a>
				</address>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><%= t("contact.form") %></h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.</p>
                <form role="form">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label><%= t("contact.name") %></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label><%= t("contact.email-address") %>s</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group col-lg-4">
                            <label><%= t("contact.phone") %></label>
                            <input type="tel" class="form-control">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                            <label><%= t("contact.message") %></label>
                            <textarea class="form-control" rows="6"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="hidden" name="save" value="contact">
                            <button type="submit" class="btn btn-default"><%= t("contact.submit") %></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
