<%= render 'layouts/navigation' %>

<div class="brand"><%= t("home.shop") %></div>
<div class="address-bar">
	1266 Mont-Royal Ave E • Montreal, QC H2J 1Y4 • (514) 111-2222<br/>
	<%= t("home.mon-to-sat") %>: 10 am - 7 pm • <%= t("home.dim") %>: 10 am - 6 pm
</div>

<div class="container">

    <div class="row">
        <div class="box">
        	<div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><%= t("menu.download") %>
                    <strong><%= link_to t("menu.menu"), '/sample-menu.pdf', download: '' %></strong>
                </h2>
                <hr>
            </div>
        	
            <div class="col-lg-12">
            	<iframe width="100%" height="900" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
            			src="/pdfs/sample-menu.pdf"></iframe>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- /.container -->
