<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>&copy; 2017 by heygirlygeek</p>
            </div>
        </div>
    </div>
</footer>
