<%# add navigation links to this file %>
<li>
    <%= link_to t("nav.home"), root_path %>
</li>
<li>
    <%= link_to t("nav.menu"), page_path('menu') %>
</li>
<li>
    <%= link_to t("nav.contact"), page_path('contact') %>
</li>
<li>
    <%= link_to t("nav.jobs"), "https://www.indeed.ca/", :target => "_blank" %>
</li>
<li>
	<a href="https://www.facebook.com" class="nav-social" target="__blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
</li>
<li>
	<a href="https://www.instagram.com/" class="nav-social" target="__blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</li>
<li>
	<a href="https://twitter.com/" class="nav-social" target="__blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</li>
<li class="dropdown">
	<% if I18n.locale == :en %>	
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EN <span class="caret"></span></a>
	  <ul class="dropdown-menu" id="dropdown-lang">
	    <li><%= link_to 'FR', url_for( :locale => 'fr' ) %></li>
	  </ul>
	<% else %>
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FR <span class="caret"></span></a>
	  <ul class="dropdown-menu" id="dropdown-lang">
	    <li><%= link_to 'EN', url_for( :locale => 'en' ) %></li>
	  </ul>
	<% end %>
</li>
